.cell {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid;
  border-color: var(--dark-blue);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--board-color);
  cursor: pointer;
}

.cell .selected {
  background-color: var(--white);
  margin: 0.15rem;
  border-radius: 3px;
  width: inherit;
}

.cell .cross {
  color: var(--secondary-color);
  font-size: 2rem;
}

.cell.hint {
  font-size: 1.35rem;
  padding-top: 0.25rem;
  color:white;
  background-color: var(--secondary-color);
}

.cell.border-cell-left {
  border-right-color: white;
}

.cell.border-cell-right {
  border-left-color: white;
}
